<?xml version="1.0"?>
<!-- 
  Wrapper launch file for the Fanuc specific motion streaming interface node.
-->
<launch>

  <!-- put them on the parameter server -->
   <arg name="use_bswap"/>
  <arg name="robot_ip"/>
  <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
  <!-- load the correct version of the motion streaming node -->
  <node if="$(arg use_bswap)" name="motion_streaming_interface"
    pkg="siasun_dualarm_driver" type="motion_streaming_interface_bswap" />
  <node unless="$(arg use_bswap)" name="motion_streaming_interface"
    pkg="siasun_dualarm_driver" type="motion_streaming_interface" />
</launch>
