<?xml version="1.0"?>
<!-- 
  Wrapper launch file for the Fanuc specific IO_state node.
-->
<launch>
  <!-- put them on the parameter server -->
<!--
  <arg name="use_bswap" value="arg use_bswap"/>
  <param name="robot_ip_address" value="arg robot_ip"/>
-->
  <arg name="use_bswap"/>
  <arg name="robot_ip"/>
  <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
  <!-- load the correct version of the safty safty node -->
  <node if="$(arg use_bswap)" name="system_safty_bswap" 
    pkg="siasun_dualarm_driver" type="system_safty_bswap" output="screen"/>
  <node unless="$(arg use_bswap)" name="system_safty" 
    pkg="siasun_dualarm_driver" type="system_safty" output="screen"/>
</launch>
